# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.project

# IntelliJ IDEA
out/
*.iws
.idea/
*.iml

# Logs
*.log

# Spring Boot
spring-boot-devtools.properties

# OS files
.DS_Store
Thumbs.db

# Others
*.swp
*.bak
*.tmp
